a:hover { text-decoration: none; text-underline: none!important; color: #000; }
.article-bg { background-repeat: repeat; min-height: 100vh; height: auto; margin-top: -50px; padding-top: 50px; }
.art-img { overflow: hidden; max-width: 100%; height: auto; }
a { text-decoration: none; color: #9e9d98; }
.background-blue { background-color: #005675; }
body { background-color: #cbc9c2; background-image: url("/files/images/kilt4.jpg"); background-repeat: repeat; font-family: 'Raleway', sans-serif; padding-top: 50px; }
.btn { font-family: Raleway, sans-serif; }
.buttons + .top-text { margin-top: 8px; }
#carousel-frontpage > div > .item > img { width: 100%; }
.clean-white-box { background-color: #fff; _border-radius: 4px; padding: 20px; overflow: auto; border: solid rgba(0, 0, 0, 0.1) 2px; border-bottom: white; }
.clearfix { display: block; width: 100%; height: 0; clear: both; }
.container-with-set-aspect-ratio { position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: hidden; }
.content { position: relative; }
.css-table-cell { display: table-cell; }
.css-table { display: table; }
.css-table-row { display: table-row; }
.div_pointer { cursor: pointer; }
.error { color: #7c3f63; }
.fc-state-highlight { background-color: #b8c9d8 !important; }
.fixed-bottom-right { position: fixed; z-index: 9999; bottom: 16px; right: 16px; }
.fixscroll { position: fixed; }
.form-control { border-radius: 0; }
.form-control:focus { border-color: #000; box-shadow: none; }
.fp_beige { background-color: #f7eee7; padding: .5%; }
.fp_white { background-color: #fff; padding: 1%; }
h1, .big-title { font-size: 3.2em; color: #005675; }
h1, h2, h3, .big-title, .small-title, .big-sub-title { font-family: 'Raleway', sans-serif; text-align: center; margin-top: 0.6em; margin-bottom: 0.4em; }
h1 + h3, .big-title + .big-sub-title { font-size: 2.5em; color: #9e9d98; margin-top: -0.5em; }
h2, .small-title { text-align: inherit; font-size: 2.5em; color: #000; }
#home { padding: 0; margin: 0; z-index: 99999; }
img { max-width: 100%; height: auto; }
.inverted a, a.inverted { color: #fff; }
#logo { height: 5em; z-index: 99999; }
.navbar { background-color: #fff; box-shadow: 0 0 8px #000; border: none; text-align: center; vertical-align: bottom; }
.nav-container, .center-container { width: 100%; max-width: 892px; margin-left: auto; margin-right: auto; }
.no-shadow { box-shadow: none !important; }
.page-box { padding: 20px 15px 30px; background: #fff; }
.page-box, .sleek-box, .white-box, .transparent-box, .transparent-box-addition, .drop-shadow { box-shadow: rgba(0, 0, 0, 0.4) -5px 5px 25px 0; }
.progress-bar { position: absolute; }
.progress { position: relative; }
.progress span { position: absolute; width: 100%; text-align: center; }
.rounded { border-radius: 10px; }
.row.container-height > [class*="-box"]:after { content: ' '; display: block; height: 20px; }
.row.container-height > [class*="col-"] { margin-bottom: -99999px; padding-bottom: 99999px; }
.row.container-height { overflow: hidden; background-color: #fff; }
.row.inverted, .inverted { background-color: #496873; color: #fff; }
.sleek-box { background-color: rgba(255, 255, 255, 0.9); padding: 1px; margin: 1px; }
.space-above { margin-top: 15px; }
.space-below { margin-bottom: 20px; }
.subtitle_styled { font-size: 25px; color: #cbc9c2; /*border-bottom: solid 2px #d3d3d3;*/ padding: 1%; }
#suggestionBox { right: -100%; bottom: 75px; z-index: 50000; transition: right 0.2s ease; }
.top-text { margin: 0 0 10px; padding: 0 0 5px; border-bottom: 2px solid #9e9d98; font: normal 16px "Playfair Display", serif; text-transform: uppercase; color: #9e9d98; }
.transparent-box { background-color: rgba(255, 255, 255, 0.9); }
.transparent-box, .white-box { background-color: #fff; _border-radius: 4px; padding: 20px; overflow: auto; }
